
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
a,ul,li{ outline: none;  text-decoration: none;}

.btn,.btn-link,
.btn--primary,.btn--outline,
.btn--medium,.btn--large,.btn--mobile,.btn--wide,
.blue,.red,.green,.primary{
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.btn {
    padding: 1vh 1vw;
    border-radius: 1vh;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: #fff;
    color: #242424;
    border: 0.1vh solid #fff;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 1vh 1vw;
    border: 0.1vh solid #fff;
    transition: all 0.3s ease-out;
}

.btn--large,
.btn--medium {
    padding: 1vh 1vw;
}

.btn--mobile {
    text-align: center;
    border-radius: 1vh;
    width: 80%;
    text-decoration: none;
    padding: 1vh 1vw;
    background-color: transparent;
    color: #fff;
    border: 0.1vh solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 1vh 3vw;
    font-size: 3vh;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
}

.btn--wide:hover {
    color: #fff;
    background-color: #f00946;
    transition: all 0.2s ease-out;
}

.btn-link {
    text-decoration: none;
    padding: 1vh 1vw;
}

.blue {
    background-color: #276afb;
    color: #fff;
    border: none;
}

.red {
    background-color: #f00946;
    color: #fff;
    border: none;
}

.primary {
    background-color: #242424;
    color: #fff;
    border: none;
}

.primary:hover {
    background-color: #fff;
    color: #242424;
    border: none;
}

.green {
    background: #25ce4a;
    color: #fff;
    border: none;
}

.green:hover {
    background-color: #242424;
}
