
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
a,ul,li{ outline: none;  text-decoration: none;}

.home__hero-section,
.container,
.home__hero-row,
.row,
.col,
.home__hero-text-wrapper,
.top-line,
.heading,
.dark,
.darkBg,
.home__hero-subtitle,
.home__hero-img-wrapper,
.home__hero-img,
img{
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

}
.container,
.home__hero-section {
    color: rgba(255.255.255.0.8);
    width: 100vw;
    height: 80vh;

    display: grid;
    overflow: hidden;

}

.row,
.home__hero-row {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    height: 60vh;
}

.col {
    width: 40vw;
    height: 60vh;
}

.home__hero-text-wrapper {
    grid-template-rows: repeat(4,1fr);
    width: 40vw;
    height: 60vh;
}

.top-line {
    color: #f00946;
    line-height: 1vh;
    letter-spacing: 1vw;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Lato', sans-serif;;
    text-transform: uppercase;
    width: 30vw;
    height: 5vh;   
}

.heading {
    font-size: 5vh;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5vw;
    line-height: 7vh;
    color: #f7f8fa;
}

.dark {
    color: #1c2237;
}

.darkBg {
    color:#fff;
    background-color: #1c2237;
}

.home__hero-subtitle {
    letter-spacing: 0.25vw;
    line-height: 3vh;
    width: 35vw;
    height: 11vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.home__hero-img,
.home__hero-img-wrapper {
    width: 35vw;
    height: 60vh;
}

@media screen and (max-width: 1025px) {

    .top-line {
        color: #f00946;
        line-height: 1vh;
        letter-spacing: 1vw;
        font-size: 2vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;;
        text-transform: uppercase;
        width: 45vw;
        height: 7vh;
    }

    .heading {
        font-size: 2.5vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.5vw;
        line-height: 4vh;
    }


    .home__hero-subtitle {
        letter-spacing: 0.25vw;
        line-height: 3vh;
        width: 40vw;
        height: 16vh;
        font-size: 2vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

}


@media screen and (max-width: 700px) {

    .container,
    .home__hero-section {
        width: 100vw;
        height: 150vh;
    }

    .row,
    .home__hero-row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,1fr);
        width: 90vw;
        height: 145vh;
    }

    .col {
        width: 80vw;
        height: 60vh;
    }

    .home__hero-text-wrapper {
        grid-template-rows: repeat(4,1fr);
        width: 80vw;
        height: 70vh;
        top: 2.5vh;
    }

    .top-line {
        color: #f00946;
        line-height: 1vh;
        letter-spacing: 1vw;
        font-size: 2vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;;
        text-transform: uppercase;
        width: 60vw;
        height: 5vh;
    }

    .heading {
        font-size: 4vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.5vw;
        line-height: 5vh;
    }

    .home__hero-subtitle {
        letter-spacing: 0.25vw;
        line-height: 3vh;
        width: 70vw;
        height: 16vh;
        font-size: 2vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

    .home__hero-img,
    .home__hero-img-wrapper {
        width: 70vw;
        height: 50vh;
    }

}
