

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
a,ul,li{ outline: none;  text-decoration: none;}

.react-icons,
.navbar,
.navbar-desktop-states,
.nav-default-item,
.navbar-logo,
.navbar-default-icon,
.navbar-mobile-icon,
.navbar-logo-h2,
.menu-bars,
.menu-bars:active,
.nav-menu,
.nav-menu.active,
.nav-text,
.nav-text a,
.nav-menu-items,
.navbar-toggle,
span{
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

}

.react-icons{
    width: 3vw;
    height: 3vh;
}

.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.navbar-desktop-states{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    width: 80vw;
}

.nav-default-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    width: 50vw;
    left: 10vw;
}

.navbar-logo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.navbar-default-icon{
    display: grid;
    position: relative;
    text-decoration: none;
    outline: none;
    width: 5vw;
    height: 5vh;
    color: white;
}

.navbar-logo-h2{
    display: grid;
    position: relative;
    text-decoration: none;
    outline: none;
    width: 5vw;
    height: 5vh;
    color: white;
}

.nav-text {
    list-style: none;
    width: 15vw;
    height: 5vh;
}

.nav-text a {
    grid-template-columns: repeat(2,1fr);
    text-decoration: none;
    color: #f5f5f5;
    width: 13vw;
    height:5vh;
    padding: 0 4vw;
    border-radius: 1vh;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.navbar-mobile-states{
    display: none;
}

.nav-menu.active{
    display: none;
}

span {
    margin-left: 1.5vw;
}



@media screen and (max-width: 970px) {

    .navbar-mobile-states {
        display: grid;
        width: 100vw;
        height: 10vh;
        top: 0;
        z-index: 15;
        position: relative;

    }

    .navbar-toggle {
        background-color: #060b26;
        width: 100vw;
        height: 10vh;
        top: 0;
        z-index: 16;
    }

    .nav-menu {
        background-color: #060b26;
        width: 100vw;
        height: 100vh;
        top: 40vh;
        left: -100vw;
        transition: 850ms;
        z-index: 10;
    }

    .nav-menu.active {
        display: grid;
        width: 100vw;
        transition: 350ms;
        left: 0;
    }

    .nav-menu-items {
        width: 100vw;
        height: 100vh;
    }

    .navbar-toggle {
        background-color: #060b26;
        width: 100vw;
    }

    .nav-text {
        list-style: none;
        width: 40vw;
        height:15vh;
    }

    .nav-text a {
        grid-template-columns: repeat(2,1fr);
        text-decoration: none;
        color: #f5f5f5;
        width: 40vw;
        height:15vh;
        padding: 0 4vw;
        border-radius: 1vh;
    }

    .nav-text a:hover {
        background-color: #1a83ff;
    }

    .navbar-mobile-icon{
        bottom: 60vh;
        color: #fff;
    }
    .react-icons{
        width: 7vw;
        height: 7vh;
    }

    .menu-bars {
        width: 10vw;
        height: 10vh;
        color: #fff;
        transition: all 0.15s linear;
        top: 50vh;
        z-index: 8;
    }

    .menu-bars:active{
        color: #1a83ff;
        transition: all 0.1s linear;
    }

    .navbar-desktop-states {
        display: none;
    }

    .nav-default-item{
       display: none;
    }
}
