

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
a,ul,li{ outline: none;  text-decoration: none;}

.pricing__section,
.pricing__wrapper,
.pricing__heading__container,
.pricing__heading,
.pricing__container,
.pricing__section-card,
.pricing__container-card,
.pricing__container-card:nth-child(2),
.pricing__container-cardInfo,
.pricing__container-cardInfo h3,
.pricing__container-cardInfo h4,
.pricing__container-cardInfo p,
.pricing__container-features,
.pricing__container-features li,
.pricing__container-features,
.icon{
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.pricing__section {
    background: #fafafa;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.pricing__wrapper {
    grid-template-rows: 15vh 65vh;
    width: 100vw;
    height: 80vh;
}

.pricing__heading__container{
    width: 100vw;
    height: 15vh;
}

.pricing__heading {
    width: 100vw;
    height: 15vh;
    color: #1c2237;
    font-size: 5vh;
}

.pricing__container{
    grid-template-columns: repeat(3,1fr);
    width: 100vw;
    height: 65vh;

}

.pricing__section-card,
.pricing__container-card {
    background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 25vw;
    height: 55vh;
    text-decoration: none;
    border-radius: 1vh;
    transition: all 0.3s ease-out;
}

.cart-2 {
    transform: scale(1.05);
    background: #242424;
    margin: 0 1vh;
}
.pricing__section-card:hover,
.pricing__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.pricing__container-cardInfo {
    grid-template-rows: repeat(6,1fr);
    width: 25vw;
    height: 50vh;
    color: #fff;
}

.pricing__container-cardInfo h3 {
    font-size: 2vh;
}

.pricing__container-cardInfo h4 {
    font-size: 4vh;
}

.pricing__container-cardInfo p {
    font-size: 3vh;
    margin-bottom: 24px;
}

.pricing__container-features {
    grid-row-gap: 1vh;
    list-style: none;
    bottom: 1vh;
}

.pricing__container-features li {
    font-size: 2vh;
}

.icon {
    width: 10vw;
    height: 15vh;
}

.react-icons{
    width: 8vw;
    height: 12vh;
}


@media only screen and (min-width: 701px) and (max-width: 1024px){

    .pricing__section {
        background: #fafafa;
        width: 100vw;
        height: 150vh;
    }

    .pricing__wrapper {
        grid-template-rows: 15vh 135vh;
        width: 100vw;
        height: 150vh;
    }

    .pricing__heading__container{
        width: 100vw;
        height: 15vh;
    }

    .pricing__heading {
        width: 100vw;
        height: 15vh;
        color: #1c2237;
        font-size: 5vh;
    }

    .pricing__container{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 6vh;
        width: 100vw;
        height: 135vh;
    }
     .pricing__section-card,
    .pricing__container-card {
        background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
        width: 35vw;
        height: 55vh;
        text-decoration: none;
        border-radius: 1vh;
    }

    .cart-2 {
        transform: scale(1.05);
        background: #242424;
        margin: 0 1vh;
    }

    .pricing__container-cardInfo {
        grid-template-rows: repeat(6,1fr);
        width: 35vw;
        height: 50vh;
        color: #fff;
    }

    .pricing__container-cardInfo h3 {
        font-size: 2vh;
    }

    .pricing__container-cardInfo h4 {
        font-size: 4vh;
    }

    .pricing__container-cardInfo p {
        font-size: 3vh;
        margin-bottom: 24px;
    }

    .pricing__container-features {
        grid-row-gap: 1vh;
        list-style: none;
        bottom: 1vh;
    }

    .pricing__container-features li {
        font-size: 2vh;
    }

    .icon {
        width: 15vw;
        height: 15vh;
    }

    .react-icons{
        width: 13vw;
        height: 13vh;
    }

}



@media only screen and (min-width: 320px) and (max-width: 700px) {
    .pricing__section {
        background: #fafafa;
        width: 100vw;
        height: 285vh;
    }

    .pricing__wrapper {
        grid-template-rows: 20vh 260vh;
        width: 100vw;
        height: 285vh;
    }

    .pricing__heading__container{
        width: 100vw;
        height: 20vh;
    }

    .pricing__heading {
        width: 100vw;
        height: 20vh;
        color: #1c2237;
        font-size: 5vh;
    }

    .pricing__container{

        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 7vh;

        width: 100vw;
        height: 135vh;
    }

    .pricing__section-card{
        background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
        width: 70vw;
        height: 80vh;
        text-decoration: none;
        border-radius: 1vh;
    }

    .cart-2{
        width: 70vw;
        height: 80vh;
        transform: scale(1.05);
        background: #242424;
        margin: 0 1vh;

    }

    .pricing__container-card:hover {
        transform: scale(1.06);
        transition: all 0.3s ease-out;
        color: #1c2237;
    }

    .pricing__container-cardInfo {
        grid-template-rows: repeat(6,1fr);
        width: 70vw;
        height: 75vh;
        color: #fff;
    }

    .pricing__container-cardInfo h3 {
        font-size: 4vh;
    }

    .pricing__container-cardInfo h4 {
        font-size: 5vh;
    }

    .pricing__container-cardInfo p {
        font-size: 4vh;

    }

    .pricing__container-features {
        grid-row-gap: 1vh;
        list-style: none;
        bottom: 1vh;
    }

    .pricing__container-features li {
        font-size: 3vh;
    }

    .icon {
        width: 25vw;
        height: 25vh;
    }

    .react-icons{
        width: 23vw;
        height: 23vh;
    }

}